body {
  background-image: linear-gradient(to bottom, #000000, #080708, #0e0e0f, #131414, #171818, #1b1c1c, #202121, #242525, #2a2b2b, #303131, #373737, #3d3d3d); }

.nav-wrapper {
  width: 100%;
  margin: 0 auto; }
  .nav-wrapper nav #toggle, .nav-wrapper nav label {
    display: none; }
  .nav-wrapper nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 1rem 1.5rem; }
    .nav-wrapper nav label {
      color: white; }
    .nav-wrapper nav ul {
      list-style: none;
      display: flex;
      gap: 2rem; }
      .nav-wrapper nav ul li:hover {
        transform: scale(1.2); }
      .nav-wrapper nav ul li a {
        text-decoration: none;
        color: white;
        font-size: 25px; }
        .nav-wrapper nav ul li a:hover {
          color: #FFDA56; }

.main-index {
  margin-bottom: 30px;
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; } }

@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; } }
  .main-index .gif {
    text-align: center; }
    .main-index .gif img {
      height: 550px;
      width: 1000px;
      border-radius: 50px;
      text-align: center; }
  .main-index h1 {
    font-size: 40px;
    text-align: center;
    color: #FFDA56; }
  .main-index section {
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10%; }
    .main-index section .carta1, .main-index section .carta2, .main-index section .carta3, .main-index section .carta4, .main-index section .carta5, .main-index section .carta6 {
      background-color: aliceblue;
      background-image: url("../assets/img/power.jpg");
      width: 450px;
      height: 18.75rem;
      background-position: center;
      box-shadow: 1px 1px 0.625rem #2c2c2c;
      border-radius: 1.25rem;
      color: aliceblue;
      text-align: center;
      background-size: contain;
      margin-bottom: 35px;
      transition: 1s; }
      .main-index section .carta1 h2, .main-index section .carta2 h2, .main-index section .carta3 h2, .main-index section .carta4 h2, .main-index section .carta5 h2, .main-index section .carta6 h2 {
        background-color: #202121ad;
        font-size: 30px; }
      .main-index section .carta1 p, .main-index section .carta2 p, .main-index section .carta3 p, .main-index section .carta4 p, .main-index section .carta5 p, .main-index section .carta6 p {
        font-size: 30px;
        display: none; }
      .main-index section .carta1:hover, .main-index section .carta2:hover, .main-index section .carta3:hover, .main-index section .carta4:hover, .main-index section .carta5:hover, .main-index section .carta6:hover {
        transform: scale(1.1); }
        .main-index section .carta1:hover p, .main-index section .carta2:hover p, .main-index section .carta3:hover p, .main-index section .carta4:hover p, .main-index section .carta5:hover p, .main-index section .carta6:hover p {
          display: flex;
          background-color: #242525b4; }
    .main-index section .carta2 {
      background-image: url("../assets/img/hipertrofia.jpg"); }
    .main-index section .carta3 {
      background-image: url("../assets/img/funcional.jpg"); }
    .main-index section .carta4 {
      background-image: url("../assets/img/cardio-hiit.jpg"); }
    .main-index section .carta5 {
      background-image: url("../assets/img/natacion.jpg"); }
    .main-index section .carta6 {
      background-image: url("../assets/img/recuperacion de leciones.jpg"); }

footer {
  background-color: black; }
  footer section {
    display: block;
    text-align: center; }
    footer section h2 {
      text-align: center;
      font-size: 30px;
      color: #141413;
      background-color: #ffda56b9; }
    footer section .info-footer {
      color: #FFDA56;
      margin: 10px; }
      footer section .info-footer div {
        display: flex;
        justify-content: center;
        gap: 5px; }

.main-tienda {
  -webkit-animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }

@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }
  .main-tienda .titulo {
    color: #FFDA56;
    text-align: center;
    width: 100%; }
  .main-tienda .conjunto {
    background-color: #0e0d0d49;
    border: 5px solid #FFDA56;
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 0.6 #0e0c0c;
    border-radius: 16px; }
    .main-tienda .conjunto h2 {
      color: #FFDA56;
      text-align: center; }
    .main-tienda .conjunto p {
      color: white;
      font-size: 16px;
      text-align: center; }
  .main-tienda .cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px; }
    .main-tienda .cards .card {
      background-color: white;
      height: 380px;
      width: 250px;
      box-shadow: 2px 2px 5px #535353;
      border-radius: 15px;
      text-align: center;
      transition: 1s;
      margin-bottom: 30px; }
      .main-tienda .cards .card:hover {
        transform: scale(1.1); }
      .main-tienda .cards .card div {
        height: 50%;
        width: 100%; }
        .main-tienda .cards .card div img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 15px; }
      .main-tienda .cards .card .btn {
        cursor: pointer;
        background-color: #FFDA56;
        padding: 1px 80px 1px 80px;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 8px;
        width: 100%; }
        .main-tienda .cards .card .btn:hover {
          background-color: #c49b06; }
        .main-tienda .cards .card .btn a {
          text-decoration: none;
          color: black; }

.main-planes .cuenta {
  text-align: center;
  background-color: #0e0d0d49;
  border: 5px solid #FFDA56;
  margin-bottom: 30px; }
  .main-planes .cuenta h1 {
    color: #FFDA56; }
  .main-planes .cuenta h2 {
    color: #FFDA56; }
  .main-planes .cuenta p {
    color: white;
    font-size: 16px; }
  .main-planes .cuenta .init {
    cursor: pointer;
    background-color: #FFDA56;
    padding: 20px 80px 20px 80px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 8px; }
    .main-planes .cuenta .init:hover {
      background-color: #c49b06; }
    .main-planes .cuenta .init a {
      text-decoration: none;
      color: black;
      font-size: 20px; }

.main-planes .planes {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  -webkit-animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1; } }

@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1; } }
  .main-planes .planes article {
    border: 5px solid black;
    width: 1000px;
    background-color: #FFDA56;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    border-radius: 50px;
    transition: 1s; }
    .main-planes .planes article:hover {
      background-color: #c59c08;
      transform: scale(1.1); }
    .main-planes .planes article a:hover {
      color: white; }
    .main-planes .planes article h2 {
      border-bottom: 5px solid black;
      text-align: center;
      border-radius: 25px 25px 0px 0px;
      font-size: 30px; }
    .main-planes .planes article p {
      font-size: 20px; }
    .main-planes .planes article a {
      text-decoration: none;
      list-style: none;
      font-size: 25px;
      color: black; }

.main-trans .galeri {
  color: #FFDA56;
  text-align: center; }

.main-trans .fotos {
  display: grid;
  width: 100%;
  height: 100vh;
  align-content: center;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(4, 170px);
  grid-template-areas: "foto1 foto1 foto2 foto3" "foto1 foto1 foto4 foto3" "foto5 foto8 foto6 foto6" "foto7 foto8 foto6 foto6";
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }
  .main-trans .fotos div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: 1px 1px 0.625rem #0e0c0c; }
  .main-trans .fotos .foto1, .main-trans .fotos .foto2, .main-trans .fotos .foto3, .main-trans .fotos .foto4, .main-trans .fotos .foto5, .main-trans .fotos .foto6, .main-trans .fotos .foto7, .main-trans .fotos .foto8 {
    background-color: #FFDA56;
    grid-area: foto1;
    transition: 1s; }
    .main-trans .fotos .foto1:hover, .main-trans .fotos .foto2:hover, .main-trans .fotos .foto3:hover, .main-trans .fotos .foto4:hover, .main-trans .fotos .foto5:hover, .main-trans .fotos .foto6:hover, .main-trans .fotos .foto7:hover, .main-trans .fotos .foto8:hover {
      transform: scale(1.1); }
  .main-trans .fotos .foto2 {
    background-color: aqua;
    grid-area: foto2; }
  .main-trans .fotos .foto3 {
    background-color: blue;
    grid-area: foto3; }
  .main-trans .fotos .foto4 {
    background-color: black;
    grid-area: foto4; }
  .main-trans .fotos .foto5 {
    background-color: #9c9b99;
    grid-area: foto5; }
  .main-trans .fotos .foto6 {
    background-color: beige;
    grid-area: foto6; }
  .main-trans .fotos .foto7 {
    background-color: #d42f12;
    grid-area: foto7; }
  .main-trans .fotos .foto8 {
    background-color: #099126;
    grid-area: foto8; }

.main-trans .fotos {
  gap: .9375rem;
  justify-content: center;
  align-content: center; }

.main-info {
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; } }

@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 1; } }
  .main-info .alimentacion {
    margin-top: 30px;
    display: flex;
    align-items: center; }
    .main-info .alimentacion div {
      background-color: rgba(0, 0, 0, 0.541);
      box-shadow: 1px 1px .625rem black;
      border: 5px solid #FFDA56;
      width: 100%; }
      .main-info .alimentacion div h2 {
        font-size: 30px;
        text-align: center;
        color: #FFDA56; }
      .main-info .alimentacion div p {
        text-align: center;
        font-size: 25px;
        color: white; }
  .main-info .requerimientos {
    background-color: rgba(0, 0, 0, 0.541);
    text-align: center;
    border: 5px solid #FFDA56; }
    .main-info .requerimientos h2 {
      color: #FFDA56;
      font-size: 30px; }
    .main-info .requerimientos p {
      font-size: 25px;
      color: white; }
  .main-info .ubicacion {
    text-align: center;
    font-size: 30px;
    color: #FFDA56; }
    .main-info .ubicacion iframe {
      width: 40%;
      height: 300px; }
  .main-info h1 {
    color: #FFDA56;
    text-align: center; }
  .main-info .formulario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }
    .main-info .formulario .form {
      margin-left: 30%;
      margin-right: 25%;
      width: 100%; }
      .main-info .formulario .form label {
        display: block;
        font-weight: bold;
        border-bottom: 5px;
        color: #FFDA56;
        width: 100%; }
      .main-info .formulario .form textarea, .main-info .formulario .form input[type="text"], .main-info .formulario .form [type="gmail"] {
        display: block;
        background-color: rgba(0, 0, 0, 0.342);
        width: 80%;
        padding: 10px;
        border: 2px solid #FFDA56;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 16px; }
      .main-info .formulario .form [type="gmail"] {
        color: #FFDA56; }
      .main-info .formulario .form [type="text"] {
        color: #FFDA56; }
      .main-info .formulario .form [name="mensaje"] {
        color: #FFDA56; }
      .main-info .formulario .form .btnform {
        color: #FFDA56;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.342);
        border: none; }

.error {
  display: flex; }
  .error div img {
    width: 100%;
    height: 100%; }
  .error .e404 {
    background-color: #ffda5600;
    width: 50%;
    height: 800px;
    margin-left: 20%; }
    .error .e404 h1 {
      font-size: 100px;
      color: #FFDA56; }
    .error .e404 p {
      display: flex;
      justify-content: space-between;
      font-size: 30px;
      color: white; }
    .error .e404 .inicio {
      font-size: 40px;
      color: #FFDA56;
      text-decoration: none;
      display: flex;
      justify-content: center; }
      .error .e404 .inicio:hover {
        transform: scale(1.5); }

@media (max-width: 1024px) {
  .main-trans .fotos {
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 120px); }
  .main-index .gif img {
    height: 400px;
    width: 800px; }
  footer section .info-footer {
    display: block; }
  .main-planes .planes article {
    width: 700px; }
  .main-tienda .cards .card {
    height: 380px;
    width: 190px; } }

@media (max-width: 768px) {
  .main-tienda .cards .card:nth-child(4) {
    display: none; }
  .main-tienda .cards .card:nth-child(9) {
    display: none; }
  .main-tienda .cards .card:nth-child(15) {
    display: none; }
  .main-tienda .cards .card {
    height: 280px;
    width: 150px;
    font-size: 10px; }
    .main-tienda .cards .card h2 {
      font-size: 15px; }
    .main-tienda .cards .card .btn {
      padding: 1px 45px 1px 45px;
      margin-bottom: 5px; }
  .main-planes .planes article {
    width: 600px;
    font-size: 20px; }
    .main-planes .planes article:hover {
      transform: scale(0.8); }
    .main-planes .planes article h2 {
      font-size: 25px; }
  .main-index .gif img {
    width: 100%;
    height: 100%; }
  .error {
    display: block;
    flex-direction: column; }
    .error div {
      display: none; }
      .error div img {
        display: none; }
  .main-info .formulario .form {
    margin-left: 5%;
    margin-right: 5%; }
  .main-info .formulario .btnform {
    display: block;
    background-color: rgba(0, 0, 0, 0.342);
    width: 80%;
    padding: 10px;
    border: 2px solid #FFDA56;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px; }
  .main-info .ubicacion iframe {
    height: 280px;
    width: 280px; }
  .main-trans .fotos {
    display: grid;
    width: 100%;
    height: 100vh;
    align-content: center;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(6, 4.375rem);
    grid-template-areas: "foto1 foto1 foto2" "foto1 foto1 foto4" "foto5 foto8 foto8" "foto7 foto8 foto8" "foto3 foto3 foto6" "foto3 foto3 foto6"; }
    .main-trans .fotos .foto1, .main-trans .fotos .foto2, .main-trans .fotos .foto3, .main-trans .fotos .foto4, .main-trans .fotos .foto5, .main-trans .fotos .foto6, .main-trans .fotos .foto7, .main-trans .fotos .foto8 {
      background-color: #FFDA56;
      grid-area: foto1; }
    .main-trans .fotos .foto2 {
      background-color: aqua;
      grid-area: foto2; }
    .main-trans .fotos .foto3 {
      background-color: blue;
      grid-area: foto3; }
    .main-trans .fotos .foto4 {
      background-color: black;
      grid-area: foto4; }
    .main-trans .fotos .foto5 {
      background-color: #9c9b99;
      grid-area: foto5; }
    .main-trans .fotos .foto6 {
      background-color: beige;
      grid-area: foto6; }
    .main-trans .fotos .foto7 {
      background-color: #d42f12;
      grid-area: foto7; }
    .main-trans .fotos .foto8 {
      background-color: #099126;
      grid-area: foto8; } }

@media (max-width: 510px) {
  .main-index .gif {
    height: 280px; }
    .main-index .gif h3 {
      font-size: 35px; }
  .main-index .cartas div {
    height: 220px;
    width: 335px; }
    .main-index .cartas div p {
      font-size: 20px; }
  .main-tienda .cards .card:nth-child(1) {
    display: none; }
  .main-tienda .cards .card:nth-child(4) {
    display: none; }
  .main-tienda .cards .card:nth-child(6) {
    display: none; }
  .main-tienda .cards .card:nth-child(9) {
    display: none; }
  .main-tienda .cards .card:nth-child(12) {
    display: none; }
  .main-tienda .cards .card:nth-child(15) {
    display: none; }
  .main-trans .fotos {
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(6, 80px);
    grid-template-areas: "foto1 foto2" "foto1 foto3" "foto4 foto6" "foto5 foto6" "foto7 foto8" "foto7 foto8"; }
  .main-info .ubicacion iframe {
    height: 250px;
    width: 250px; }
  .main-planes .cuenta .init a {
    margin: 10px; }
  .main-planes .planes article {
    width: 100%; }
    .main-planes .planes article h2 {
      font-size: 25px; }
  .error .e404 {
    width: 100%; }
    .error .e404 h1 {
      font-size: 50px; }
    .error .e404 .inicio {
      text-align: center; } }

@media (max-width: 375px) {
  .main-index .gif {
    height: 250px; }
    .main-index .gif h3 {
      font-size: 25px; }
  .main-index .cartas div {
    height: 210px;
    width: 315px; } }

@media (max-width: 320px) {
  .main-index .gif {
    height: 200px; }
  .main-trans .fotos {
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: repeat(6, 80px);
    grid-template-areas: "foto1 foto2" "foto1 foto3" "foto4 foto6" "foto5 foto6" "foto7 foto8" "foto7 foto8"; }
  .main-planes .planes article:hover {
    transform: scale(0.8); }
  .main-tienda .cards .card {
    height: 270px;
    width: 130px;
    font-size: 10px; }
    .main-tienda .cards .card h2 {
      font-size: 15px; }
    .main-tienda .cards .card .btn {
      padding: 1px 30px 1px 30px; } }

@media (max-width: 610px) {
  .nav-wrapper nav #toggle:checked ~ div {
    height: 100%; }
  .nav-wrapper nav label {
    display: flex;
    cursor: pointer; }
  .nav-wrapper nav div {
    width: 100%;
    height: 0;
    overflow: hidden; }
    .nav-wrapper nav div ul {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0px; }
  .main-planes .planes article {
    width: 100%; }
  .main-trans .fotos {
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(6, 100px);
    grid-template-areas: "foto1 foto2" "foto1 foto3" "foto4 foto6" "foto5 foto6" "foto7 foto8" "foto7 foto8"; } }
