@media(max-width:375px) {
    .main-index{
        .gif{
            height: 250px;
            h3{
                font-size: 25px;
            }
        }
        .cartas{
            div{
                height: 210px;
                width: 315px;
            }
        }
    }
    .main-info{
        .formulario{
            margin-left: 0%;
            textarea{
                width: 330px;
            }
            .btnform{ 
                width: 350px;
            }
        }
    }
}