@media(max-width:1024px){
    .main-trans{
        .fotos{
            grid-template-columns: repeat(4,200px);
            grid-template-rows: repeat(4,120px);
        }
    }
    .main-index{
        .gif{
            img{
                height: 400px;
                width: 800px;
            }
        }
    }
    footer{
        section{
            .info-footer{
                display: block;
            }
        }
    }
    .main-planes{
        .planes{
            article{
                width: 700px;
            }
        }
    }
    .main-tienda{
        .cards{
            .card{
                height: 380px;
                width: 190px;
            }
        }
    }
}
