@media(max-width:2560px){
    .main-index{
        .gif{
            height: 550px;
            width: 1000px;
        }
        section{
        gap: 150px;
        }
    }
    .main.info{
        .formulario{
            margin-left: 38%;
        }
    }
    footer{
        section{
            display: flex;
            justify-content: space-between;
        }
    }
    
}