footer{
    background-color: $backg-color;
    section{
        display: block;
        text-align: center;
        h2{
            text-align: center;
            font-size: map-get($size, tit);
            color: #141413;
            background-color: #ffda56b9;
        }
        .info-footer{
            color: #FFDA56;
            margin: 10px;
            div{
            display: flex;
            justify-content: center;
            gap: 5px;
            }        
        }
    }
}