footer{
    background-color: $backg-color;
    width: 100%;
    height: 100%;
    section{
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        h2{
            text-align: center;
            font-size: map-get($size, tit);
            color: #141413;
            background-color: #ffda56b9;
        }
        .icon-footer{
            text-align:center
        }
        .info-footer{
            color: #FFDA56;
            margin: 10px;
        }
    }
}