.nav-wrapper{
    width: 100%;
    margin: 0 auto;
    nav #toggle, nav label{
        display: none;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: $backg-color;
        padding: 1rem 1.5rem;
        label{
            color: white;
        }
        ul{
            list-style: none;
            display: flex;
            gap: 2rem;
            li{
                &:hover{
                    transform: scale(1.2);
                }
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 25px;
                    &:hover{
                        color: #FFDA56;
                    }
                }
            }
        }
    }
}