.main-info{
    -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @-webkit-keyframes scale-in-bottom {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            opacity: 1;
        }
    }
    @keyframes scale-in-bottom {
        0% {
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            opacity: 1;
        }
    }
    .sobre{
        background-image: linear-gradient(to top, #f4ff00, #fde600, #ffcd00, #ffb400, #ff9b00);
        border-radius: 0px 0px 20px 20px;
        padding: 10px;
        text-align: center;
    }
    .ubicacion{
        text-align: center;
        font-size: 30px;
        color: white;
    }
    .foto-perfil{
        margin-top: 30px;
        @include flex;
        article{
            background-image:$backg-degrades;
            width: 950px;
            border-radius:70px;
            text-align: center;
            box-shadow: 5px 5px 8px black;
            h2{
                border-bottom: 3px solid black;
                font-size: map-get($size, tit);
            }
            p{
                font-size: 20px;
            }
        }
    }
}